{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/MainStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
{% endblock %}
{% block navbar %}
	<nav class="mainBanner"> 
		<a><img id="NavbarCloser" onclick="OpenCloseNavbar()" src="/static/images/globe_ico.png"></a>
		<ul id="banner">
			<li > <a href="/">Home</a></li>
			<li><a href="game">Play</a></li>
			<!-- <li><a href="/game/12">Advance A Day</a></li> -->
		</ul>
	</nav>
{% endblock %}

{% block content %}
{% endblock %}